:root {
    --main-color-1: #f8efc7;
    --main-color-2: #f4eb99;
    --main-color-3: #c9db5f;
    --main-color-4: #65b02c;
    --main-color-5: #15902d;
    --primary-font-color-1: #dddddd;
    --primary-font-color-2: #666666;
    --primary-font-color-3: #15902d;

    --sun-color: var(--main-color-2);
    --ground-color: var(--main-color-3)
}

* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; font-family: 'Roboto', sans-serif; } /* just to be sure these are full screen*/

canvas { display:block; } /* To remove the scrollbars */

#sky-layer {
    height: 300px;
    position: relative;
}

#sun-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#sun-layer circle {
    stroke-width: 1;
    fill: var(--sun-color);
    stroke: var(--sun-color);
    transition: fill 2s, stroke 2s;
}

.logo {
    position: absolute;
    width: 180px;
    top: 12px;
    right: 12px;
}

#ground {
    transition: background-color 2s;
    background-color: var(--ground-color);
}

.page-center-container {
    padding: 20px 16px;
    margin: 0 auto;
    max-width: 1000px;
}

.minting-section {
    background-color: var(--main-color-2);
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    transition: background-color 2s;
}
.minting-section .minting-date {
    color: var(--primary-font-color-3);
    font-size: 24px;
    margin-bottom: 8px;
}
.minting-section .nft-marketplace {
    color: var(--primary-font-color-2);
}
.minting-section .opensea {
    color: var(--primary-font-color-3);
    margin-bottom: 20px;
}
.minting-section .count {
    color: var(--primary-font-color-2);
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 32px;
}
.minting-section .cost {
    color: var(--primary-font-color-2);
    font-size: 20px;
    margin-bottom: 12px;
}
.minting-section .gas-fee-info {
    color: var(--primary-font-color-2);
    font-size: 16px;
    margin-bottom: 8px;
}
.minting-section .button-info {
    color: var(--primary-font-color-2);
    font-size: 16px;
    margin-bottom: 28px;
}
#connect-button {
    background-color: var(--main-color-1);
    color: var(--primary-font-color-3);
    width: 140px;
    height: 45px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
#connect-button:hover {
    background-color: var(--main-color-5);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: var(--primary-font-color-1);
    transform: translateY(-7px);
}

.caution-section {
    padding: 20px;
    margin-top: 20px;
    color: var(--primary-font-color-2);
}

.information-section {
    background-color: var(--main-color-4);
    color: var(--primary-font-color-1);
    padding: 40px;
    border-radius: 8px;
    margin-top: 20px;
    transition: background-color 2s;
}
.information-section .info-container {
    margin-bottom: 60px;
}
.information-section h2 {
    font-size: 40px;
    margin-bottom: 32px;
}
.information-section p {
    margin-bottom: 20px;
}

#nft-showing-section {
    height: 1400px;
    margin-top: 60px;
    border-radius: 8px;
    overflow: hidden;
}
